{% extends 'base.html' %}

{% block title %} 問題解答 {% endblock %}

{% block main %}
  	<div class="container mt-5">
    	<h2>問題解答</h2>
    	<form method="post">
      		{% csrf_token %}
      		<p>問題: {{ question.text }}</p>
      		{% for option in options %}
        		<input type="radio" id="option_{{ option.id }}" name="answer" value="{{ option.id }}">
        		<label for="option_{{ option.id }}">{{ option.text }}</label><br>
      		{% endfor %}
      		<br>
      		<button type="submit" class="btn btn-outline-success">解答する</button>
    	</form>
    	
    	{% if result %}
      		<p>{{ result }}</p>
    	{% endif %}
    	
    	<br>

		{% if not is_last_question %}
			{% if next_question_id %}
		        <a href="{% url 'ba:answer_question' pk=next_question_id %}" class="btn btn-primary">次の問題に進む</a>
		    {% endif %}
		{% else %}
		    <a href="{% url 'ba:start_question' pk=question_set.pk %}" class="btn btn-primary">終了する</a>
		{% endif %}

        <br><br>
  	</div>
{% endblock %}
