{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block main %}
  	<div class="container mt-5">
    	<h2>ホーム</h2>
		<div class="button_line1">
    		<a href="{% url 'ba:questionset_list' %}">問題集</a>
    	</div>

    	<br><br>
    	<div class="button_line1">
    		<a href="{% url 'ba:result_list' %}">自分のテスト結果</a>
    	</div>
    	
    	<br><br>
    	<div class="button_line1">
    		<a href="{% url 'ba:user_bean_list' %}">コーヒーパスポート</a>
    	</div>
    	
    	<br><br>
    	<div class="button_line1">
    		<a href="{% url 'ba:question_list' %}">すべての問題を見る</a>
    	</div>
  	</div>
{% endblock %}
