{% extends 'base.html' %}
{% load static %}
	
{% block title %}ログイン{% endblock %}

{% block main %}
	<form action="{% url 'ba:login' %}" method="post">
	{% csrf_token %}
	<div class="container mt-5">
    	<p>ユーザ名とパスワードを入力してください</p>
      	{% csrf_token %}
      	{{ form.as_p }}
      	<br>
      	<div class="button_line004">
      		<button type="submit">ログイン</button>
      	</div>
      	
      	<br><br>
      	<p style="color: black;">はじめて利用する方↓</p>
      	<div class="button_line0021">
      		<a href="{% url 'ba:register' %}">新規登録</a>
      	</div>
      	
      	{#<p><a href="{% url 'ba:home' %}">パスワードを忘れた方はこちら</a></p>#}
      	
      	<br><br><br>
      	<div class="button_line006">
      		<a href="{% url 'ba:start' %}">戻る</a>
      	</div>
  	</div>
  	</form>
  	<br><br>
{% endblock %}
