{% extends 'base.html' %}

{% block title %} 問題集詳細 {% endblock %}

{% block main %}
  	<h2>{{ question_set.title }}</h2>
	<p>{{ question_set.description }}</p>
	<p>Created by: {{ question_set.created_by.username }}</p>
	<p>Created at: {{ question_set.created_at }}</p>
	
	<h3>Questions</h3>
	{% if question_set.question_set.all %}
		<ul>
	   		{% for question in question_set.question_set.all %}
	     		<li>{{ question.text }}</li>
	     	{% endfor %}
	  	</ul>	
	{% else %}
	   	<p>No questions available in this set.</p>
	{% endif %}
	
	<a href="{% url 'ba:create_question' question_set.pk %}">Add a Question</a>
{% endblock %}