{% extends 'base.html' %}

{% block title %} コーヒー豆一覧 {% endblock %}

{% block main %}
	<div class="container mt-5">
	    <h2>コーヒー豆一覧</h2>
	    {% if beans %}
		    <ul>
		        {% for bean in beans %}
		        	<li>{{ bean.name }}</li>
		        {% endfor %}
		    </ul>
		{% else %}
			<p>コーヒー豆の情報はありません</p>
		{% endif %}
		<br><br>
		<a href="{% url 'ba:create_bean' %}" class="btn btn-outline-success">コーヒーを追加</a>
		<br><br>
		<a href="{% url 'ba:home_manager' %}" class="btn btn-secondary">管理者ホームへ戻る</a>
	</div>
{% endblock %}
