{% extends 'base.html' %}

{% block title %} 問題詳細 {% endblock %}

{% block main %}
  	<div class="container mt-5">
    	<h2>{{ object.text }}</h2>
    	<p>問題文: {{ object.text }}</p>
    	<p>解説: {{ object.explanation }}</p>
    	
    	<h3>選択肢</h3>
    	<ul>
    		{% for option in object.option_set.all %}
    			<li>{{ option.text }} {% if option.is_correct %}(正解){% endif %}</li>
    		{% endfor %}
    	</ul>
		
		<br><br>
	    <a href="{% url 'ba:start_question' question.question_set.pk %}" class="btn btn-secondary">戻る</a>
  	</div>
{% endblock %}
