{% extends 'base.html' %}

{% block title %} 問題開始 {% endblock %}

{% block main %}
  	<div class="container mt-5">
    	<h2>{{ question_set.title }}</h2>
    	<p>{{ question_set.description }}</p>
    	<form method="post">
    		{% csrf_token %}
    		<button type="submit" class="btn btn-outline-success">スタート</button>
    	</form>
    	
    	<br><br>
    	<h3>問題</h3>
    	<ul>
    		{% for question in questions %}
    			<li><a href="{% url 'ba:user_question_detail' question.pk %}">{{ question.text }}</a></li>
    		{% endfor %}
    	</ul>
    	
    	<br><br>
    	<h3>過去のテスト結果</h3>
    	<table class="table" border="1">
            <thead>
                <tr>
                    <th>受験日時</th>
                    <th>得点</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for result in past_results %}
                    <tr>
                        <td>{{ result.date }}</td>
                        <td>{{ result.rate }}</td>
                        <td><a href="{% url 'ba:result' pk=result.pk %}">詳細を見る</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">過去の試験結果はありません。</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    	
    	<br><br>
    	<div class="button_line006">
    		<a href="{% url 'ba:questionset_list' %}">戻る</a>
    	</div>
    	<br><br>
  	</div>
{% endblock %}
